.sidebarContainer {
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: #eee;
    color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    translate: -100%;
    transition: translate .2s;

    &.showCategories {
        translate: 0;
    }

    .headerContainer, .footerContainer {
        width: 100%;
        position: sticky;
        padding: 1em 2em;
        display: flex;
        align-items: center;
    }

    .headerContainer {
        top: 0;
        justify-content: center;

        // h1 {
        //     text-overflow: ellipsis;
        //     overflow: hidden;
        //     white-space: nowrap;
        // }
    }

    .mainContent {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100%;
        align-items: center;
        background: #f5f5f5;
        padding: 1em 5vw;
        flex-grow: 1;

        .gridCategories {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            gap: .5rem;
            max-width: 75rem;
            width: 100%;

            > * {
                width: 100%;
                border-radius: 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em 2em;
                overflow: hidden;
                aspect-ratio: 9 / 11;
                list-style: none;
                background: #f003;
            }
        }
    }

    .footerContainer {
        bottom: 0;
        justify-content: flex-end;
        gap: 1em;
    }

    .skipButton {
        background: transparent;
        color: #111;
        flex-shrink: 0;
        border-radius: 2rem;
        padding: .35em 1.2em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.15em;
        font-weight: 700;
        cursor: pointer;
        border: 2px solid #bbb;
        transition: .2s;
        overflow: hidden;

        &:hover {
            padding-right: 2.5em;

            &.lowerButton {
                opacity: .7;
                color: red;
                border-color: #f004;
            }
            
            .arrow {
                opacity: 1;
            }
        }

        .arrow {
            position: absolute;
            translate: 1.5em;
            scale: 1.3;
            opacity: 0;
            pointer-events: none;
            transition: opacity .2s;
        }
    }

    .lowerButton {
        opacity: .65;
    }
}