.cartContainer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1em 2em;

    > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        max-height: 50%;
        overflow-y: auto;
    }
}