.categorieButton {
    position: relative;
    cursor: pointer;
    justify-content: space-around;

    > * {
        pointer-events: none;
    }

    > div {
        position: relative;
        width: 80%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 50%;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    span {
        font-weight: 800;
        font-size: 1.1em;
    }
};