.mainContent {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.gridProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow-y: auto;
    height: 100%;
    max-width: 70rem;
    min-height: 10rem;
}