.productStyles {
    list-style: none;
    flex-grow: 1;
    position: relative;
    background: #ddda;
    padding: 1em;
    max-width: 20rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;

    p {
        flex-grow: 1;
        font-size: .85em;
        line-height: 1.2em;
        display: flex;
        align-items: flex-end;
    }
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageStyles {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
    background: red;
    margin-bottom: 1em;
}