.productStyles {
    list-style: none;
    flex-grow: 1;
    position: relative;
    background: #ddda;
    font-size: .9em;
    padding: 1em;
    max-width: 20rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5em;

    p {
        flex-grow: 1;
        font-size: .9em;
        line-height: 1.2em;
        display: flex;
        align-items: flex-end;
    }
}

.wrapLines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.2em;     /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;

    > *:not(.important) {
        word-break: break-word;
    }
}

.imageStyles {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
    background: red;
    margin-bottom: 1em;
}

.localStyles {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;

    svg {
        font-size: 1.3em;
        flex-shrink: 0;
    }
}