.productStyles {
    list-style: none;
    flex-grow: 1;
    position: relative;
    background: #ddda;
    font-size: .9em;
    padding: 1em;
    max-width: 20rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5em;

    p {
        flex-grow: 1;
        font-size: .9em;
        line-height: 1.2em;
        display: flex;
        align-items: flex-end;
    }
}

.categorieName {
    background: #c0c0c0ac;
    font-weight: 600;
    display: flex;
}

.wrapLines {
    --wrap: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: var(--wrap);
    -webkit-box-orient: vertical;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;

    > *:not(.important) {
        word-break: break-word;
    }
}

*:has(> .imageStyles) {
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

*:has(> .showHover) {
    position: relative;

    > *:not(.showHover) {
        pointer-events: none;
    }

    .showHover {
        background: #000a;
        color: #eee;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        z-index: 5;
        font-weight: 700;
        font-size: 1.2em;
        letter-spacing: .1em;
        transition: .2s ease-in-out;
        cursor: pointer;
    }

    &:hover {
        .showHover {
            opacity: 1;
        }
    }
    &:not(:hover) {
        .showHover {
            opacity: 0;
        }
    }
}

.imageStyles {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: auto;
    width: 100%;
    max-height: 12rem;
    margin-bottom: 1em;

    &.shadow {
        position: absolute;
        scale: 1.1;
        pointer-events: none;
        filter: blur(.2em);
        object-fit: cover;
    }

    &:not(.shadow) {
        position: relative;
        z-index: 1;
        object-fit: contain;
    }
}

.localStyles {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;

    svg {
        font-size: 1.3em;
        flex-shrink: 0;
    }
}