.pageContainer {
    display: flex;
    flex-direction: row;
    background: #eee;

    > aside {
        flex-shrink: 0;
    }
}

.mainProduct {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    gap: 1em;
    padding-inline: 2em;
}

.categorieName {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    user-select: none;

    > * {
        padding-inline: .6em;
        font-weight: 700;
        border-radius: .2em;
        display: flex;
        background: #e0e0e0ac;
    }
}

*:has(> .photoStyles) {
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.photoStyles {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 100%;
    max-height: 30rem;
    margin-bottom: 1em;

    &.shadow {
        position: absolute;
        scale: 1.1;
        pointer-events: none;
        filter: blur(.2em);
        object-fit: cover;
    }

    &:not(.shadow) {
        position: relative;
        z-index: 1;
        object-fit: contain;
    }
}

.greenColor {
    letter-spacing: .05em;
    color: #082;
}

.description {
    font-size: 1em;
}