.navbar {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    position: absolute;
    background: linear-gradient(to top, transparent, #eee);
    padding: .5em 2rem;
    padding-top: 1.5em;
}

.searchbarContainer {
    background: white;
    border-radius: .5em;
    flex-grow: 1;
    height: 3rem;
    width: 100%;
    font-size: 1.1em;
    max-width: 30rem;
    margin-inline: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transition: .4s ease;
    border: 2px solid transparent;
    outline: 4px solid transparent;

    &:has(.searchbar:focus) {
        outline-color: #0af3;
        border-color: #0af;

        .searchIcon {
            color: #0af;
        }
    }
}

.searchbar {
    display: flex;
    outline: none !important;
    border: none;
    padding: .6rem 1.5rem;
    padding-left: 4.1rem;
    background: transparent;
    height: 3rem;
    width: 100%;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
}

.searchIcon {
    pointer-events: none;
    position: absolute;
    flex-shrink: 0;
    display: flex;
    transition: color .2s ease;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    height: 3rem;
    width: 3rem;
    padding: .75rem;
    translate: .75rem;
}

.personContainer {
    padding: .25em;
    border-radius: .3em;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    cursor: pointer;

    .menuContainer {
        cursor: default;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        transform: translate(-2rem, 100%);
        background: white;
        padding: 1em;
        font-size: .75em;
        transition: .2s ease-in-out;
        border-radius: .5em;

        button {
            cursor: pointer;
        }
    }

    &:not(.hideMenu) {
        .menuContainer {
            opacity: 0;
            pointer-events: none;
            translate:  0 -2rem;
        }
    }

    &.hideMenu {
        .menuContainer {
            opacity: 1;
            translate: 0 0;
            pointer-events: initial;
        }
    }

    > *:not(.menuContainer) {
        pointer-events: none;
    }
}

.searchContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}