@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    $orange-clr: #fe7800;
}

body {
    min-height: 100vh;
    font-size: clamp(.8rem, 2vw, 1rem);
}

svg {
    font-size: 1em;
    height: 1em;
    width: 1em;
    fill: currentColor;
    stroke: currentColor;
}

::-webkit-scrollbar {
    // width: 0;
}