.footerStyles {
    display: flex;
    width: 100%;
    left: 0;
    justify-content: flex-start;
    padding: 1em;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(to bottom, transparent, #eee);

    &.shadowFooter {
        visibility: hidden;
        pointer-events: none;
    }

    &:not(.shadowFooter) {
        position: absolute;
    }
}

.backCategories {
    position: relative;
    background: transparent;
    color: #111;
    text-decoration: none;
    background: #eee;
    flex-shrink: 0;
    border-radius: 2rem;
    padding: .35em 1.2em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.15em;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #bbb;
    transition: .2s;
    overflow: hidden;

    &:hover {
        padding-left: 2.5em;
        
        .arrow {
            opacity: 1;
        }
    }
}

.arrow {
    position: absolute;
    translate: 1em;
    left: 0;
    scale: 1.3;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}